body {
    background-image: url('../images/calculator.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position-x: right;
    background-position-y: bottom;
}

nav {
    @include Display(row, space-around, center);
    font-size: 2vw;
    padding-top: 30px;

    ul {
        @include Display(row, center, center);
        list-style: none;
        cursor: pointer;

        li {
            padding-right: 2vw;


            &:hover {
                padding-bottom: 0.5vw;
                text-decoration: underline;
            }
        }
    }
}

.ml2 {
    font-size: 2vw;
    font-weight: 700;
}

// .heading .letter {
//         display: inline-block;
//         line-height: 1em;
// }