nav {
  @include display(flex,row, space-around, center);

  font-size: 2vw;
  padding-top: 30px;

  ul {
    @include display(flex,row, center, center);

    list-style: none;
    cursor: pointer;

    li {
      padding-right: 2vw;

     a {
      text-decoration: none;

     &:hover {
      padding-bottom: 0.5vw;
      text-decoration: underline;
     }

     }

    }
  }
}

.ml2 {
  font-size: 2vw;
  font-weight: 700;
}