.quotes {
    width: 65%;
    margin: auto;
    padding-top: 5%;

    p {
        font-size: 3vw;
        text-align: left;
    }

    h4 {
        font-size: 3vw;
        font-weight: bolder;
    }
}